<form method="post" action="login">
<div class="login">
    <div class="login-view">
        <div class="login-view-child"></div>
        <div class="account">
        <div class="enter-your-username">Tên tài khoản</div>
            <input id="username" name="username" class="account-child">
        </div>
        <div class="password">
        <div class="enter-your-username">Mật khẩu</div>
            <input type="password" id="password" name="password" class="account-child">
        </div>
        {{!-- <div class="qun-mt-khu">Quên mật khẩu?</div> --}}
        <button class="button">Đăng nhập</button >
        {{!-- <div class="button" id="buttonContainer">
            <div class=""></div>
        </div> --}}
        <div class="ng-nhp-parent">
        <div class="ng-nhp1">Đăng nhập</div>
        <img class="image-icon" alt="" src="./img/logo.png" />
        </div>
    </div>
</div>
</form>