<div class="container-fluid" style="height: 500px;">
    <div id="map-container-google-1" class="z-depth-1-half map-container w-100 h-100">
        <iframe class="w-100 h-100" src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
    </div>
</div>