<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <h1>Danh sách nhiệm vụ</h1>
        </div>
        <div class="col-sm">
            <a href="/vehicle/assign/">
                <button type="button" class="btn btn-outline-success float-right">
                    <i class="bi bi-check2-circle"></i>
                    Phân công nhiệm vụ
                </button>
            </a>
        </div>
    </div>
</div>