<div class="row">
    <div class="col-sm-5">
        <h1>Danh sách nhiệm vụ</h1>
    </div>
    <div class="col-sm">
        <a href="/vehicle/assign" class="btn btn-primary">Phân công nhiệm vụ</a>
    </div>
</div>