.image-icon17,
.side-bar-child14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 383px;
  height: 1024px;
}
.image-icon17 {
  top: 16px;
  left: 79px;
  width: 174px;
  height: 153px;
  object-fit: cover;
}
.user-info-child15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 277px;
  height: 94px;
}
.mask-group-icon38 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.quang-bang34,
.quangbang68117 {
  position: absolute;
  top: 0;
  left: 58px;
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quangbang68117 {
  top: 21px;
  font-size: var(--font-size-sm);
}
.mask-group-parent19,
.user-info17 {
  position: absolute;
  top: 24px;
  left: 29px;
  width: 233px;
  height: 45px;
}
.user-info17 {
  top: 169px;
  width: 277px;
  height: 94px;
}
.ca-lm-vic17 {
  position: absolute;
  top: 17px;
  left: 97px;
  letter-spacing: 0.01em;
}
.employee17,
.work-icon17 {
  position: absolute;
  top: 14px;
  left: 48px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.employee17 {
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.shift-child15 {
  position: absolute;
  top: 7px;
  left: 27px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mintcream);
  width: 277px;
  height: 54px;
}
.im-thu-gom17 {
  position: absolute;
  top: 21px;
  left: 95px;
  letter-spacing: 0.01em;
}
.shift17,
.vector-icon36 {
  position: absolute;
  overflow: hidden;
}
.vector-icon36 {
  height: 42.75%;
  width: 7.27%;
  top: 29.23%;
  right: 76.36%;
  bottom: 28.02%;
  left: 16.36%;
  max-width: 100%;
  max-height: 100%;
}
.shift17 {
  top: 210px;
  left: 1px;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  color: var(--color-mediumseagreen-100);
}
.nhn-vin22 {
  position: absolute;
  top: 17px;
  left: 96px;
  letter-spacing: 0.01em;
}
.account-box-icon17 {
  top: 13px;
  left: 48px;
  width: 30px;
  height: 30px;
}
.account-box-icon17,
.vector-icon37,
.vehicle17 {
  position: absolute;
  overflow: hidden;
}
.vehicle17 {
  top: 70px;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.vector-icon37 {
  height: 29.37%;
  width: 9.09%;
  top: 35.38%;
  right: 76.06%;
  bottom: 35.24%;
  left: 14.85%;
  max-width: 100%;
  max-height: 100%;
}
.mcp17 {
  top: 140px;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  overflow: hidden;
  cursor: pointer;
}
.mcp17,
.menu17,
.side-bar17 {
  position: absolute;
  left: 0;
}
.menu17 {
  top: 299px;
  width: 331px;
  height: 275px;
  font-size: var(--font-size-xl);
}
.side-bar17 {
  top: 0;
  width: 333px;
  height: 1024px;
}
.bell-icon17 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-500);
}
.mask-group-icon39 {
  position: relative;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  object-fit: cover;
}
.minotification-icon17 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
}
.quang-bang35 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-child14 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.avatar17,
.info17,
.notification17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.info17 {
  overflow: hidden;
  gap: var(--gap-9xs);
}
.avatar17,
.notification17 {
  height: 42px;
  gap: var(--gap-xs);
}
.notification17 {
  position: absolute;
  top: 0;
  left: 739px;
  width: 368px;
  height: 102px;
  padding: var(--padding-5xl) var(--padding-31xl) var(--padding-5xl) 0;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-11xl);
}
.tm-kim17 {
  position: relative;
  line-height: 24px;
}
.frame-child69,
.head17,
.search-bar17 {
  position: absolute;
  box-sizing: border-box;
}
.search-bar17 {
  top: 29px;
  left: 43px;
  border-radius: var(--br-9xs);
  background-color: var(--background-color);
  border: 1px solid var(--color-gainsboro-200);
  width: 347px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: space-between;
}
.frame-child69,
.head17 {
  top: 0;
}
.head17 {
  left: 333px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 0.5px solid var(--white);
  width: 1107px;
  height: 102px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
.frame-child69 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 2px 7px rgba(199, 195, 195, 0.5);
  border: 0.5px solid var(--color-gray-400);
}
.map-of-birmingham-city {
  position: absolute;
  top: calc(50% - 299.5px);
  left: calc(50% - 444px);
  width: 1056px;
  height: 699px;
  object-fit: cover;
}
.maps-zoom-levels-2-city {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  overflow: hidden;
}
.controls-google-maps-byline-child {
  position: absolute;
  height: 100%;
  width: 42.16%;
  top: 0;
  right: 57.84%;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-400);
}
.map-data-2019 {
  position: absolute;
  top: 20%;
  left: 1.74%;
}
.controls-google-maps-byline-item {
  position: absolute;
  height: 100%;
  width: 24.39%;
  top: 0;
  right: 33.1%;
  bottom: 0;
  left: 42.51%;
  background-color: var(--color-whitesmoke-400);
}
.terms-of-use {
  position: absolute;
  top: 20%;
  left: 44.25%;
}
.controls-google-maps-byline-inner {
  position: absolute;
  height: 100%;
  width: 32.75%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 67.25%;
  background-color: var(--color-whitesmoke-400);
}
.report-a-map {
  position: absolute;
  top: 20%;
  left: 68.99%;
}
.controls-google-maps-byline {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 287px;
  height: 15px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-300);
}
.controls-google-logo-color {
  position: absolute;
  bottom: 0;
  left: 4px;
  width: 67.6px;
  height: 26px;
}
.controls-icon,
.rectangle {
  position: absolute;
  top: 6px;
  right: 5px;
  width: 34px;
  height: 95px;
}
.rectangle {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background-color: var(--white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.satellite {
  top: 27.59%;
  left: 48.94%;
}
.line,
.map,
.satellite {
  position: absolute;
}
.line {
  height: 103.45%;
  width: 1.06%;
  top: -1.72%;
  right: 59.04%;
  bottom: -1.72%;
  left: 39.89%;
  border-right: 1px solid #f2f2f2;
  box-sizing: border-box;
}
.map {
  top: 27.59%;
  left: 8.51%;
  font-weight: 500;
  color: var(--color-black);
}
.controls-map-type {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 94px;
  height: 29px;
  font-size: var(--font-size-2xs);
  color: #565656;
}
.marker-pinlet-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b18 {
  position: absolute;
  height: 43.75%;
  width: 83.33%;
  top: 15.63%;
  left: 8.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.maps-markers-pinlet-marker {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.markers-pinlet-marker-with-n {
  position: absolute;
  top: 60px;
  left: 479px;
  width: 35px;
  height: 46.67px;
}
.maps-markers-pinlet-marker1 {
  position: absolute;
  height: 7.79%;
  width: 3.94%;
  top: 10.02%;
  right: 23.54%;
  bottom: 82.19%;
  left: 72.52%;
}
.maps-markers-pinlet-marker2,
.maps-markers-pinlet-marker3 {
  position: absolute;
  height: 7.79%;
  width: 3.94%;
  top: 29.38%;
  right: 33.33%;
  bottom: 62.83%;
  left: 62.73%;
}
.maps-markers-pinlet-marker3 {
  top: 28.05%;
  right: 62.05%;
  bottom: 64.16%;
  left: 34.01%;
}
.maps-full-map {
  position: absolute;
  top: 104px;
  left: 2px;
  background-color: var(--white);
  width: 888px;
  height: 599px;
  overflow: hidden;
}
.markers-pinlet-marker-with-n1 {
  position: absolute;
  top: 345px;
  left: 120px;
  width: 35px;
  height: 46.67px;
}
.group-child54,
.rectangle-parent120 {
  position: absolute;
  top: 0;
  left: 0;
  width: 890px;
  height: 703px;
}
.group-child54 {
  background-color: rgba(127, 122, 122, 0.5);
  width: 376px;
  height: 453px;
}
.x-circle-fill-icon {
  position: absolute;
  top: 15px;
  left: 331px;
  width: 30px;
  height: 30px;
}
.km {
  position: absolute;
  top: 61px;
  left: 100px;
  font-size: 50px;
  letter-spacing: 0.01em;
}
.arrow-drop-down-circle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.tn-lp-ng-ha-d-an-bnh-parent {
  position: absolute;
  top: 158px;
  left: 20px;
  width: 333px;
  height: 24px;
}
.ng-tt-phng {
  position: absolute;
  top: 2px;
  left: 34px;
  letter-spacing: 0.01em;
}
.ng-tt-phng-tn-nh-qun-parent {
  position: absolute;
  top: 203px;
  left: 20px;
  width: 333px;
  height: 24px;
}
.s-6-trnh {
  margin: 0;
}
.s-6-trnh-container {
  position: absolute;
  top: 2px;
  left: 33px;
  letter-spacing: 0.01em;
}
.s-6-trnh-khc-lp-phng-th-parent {
  position: absolute;
  top: 248px;
  left: 21px;
  width: 333px;
  height: 24px;
  text-align: left;
}
.l-quc-hng-phng-12-qun-parent {
  position: absolute;
  top: 309px;
  left: 20px;
  width: 333px;
  height: 24px;
}
.nguyn-th-thp-container {
  position: absolute;
  top: 14px;
  left: 31px;
  letter-spacing: 0.01em;
}
.arrow-drop-down-circle-icon4 {
  position: absolute;
  top: 12px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.nguyn-th-thp-tn-ph-qun-parent {
  position: absolute;
  top: 338px;
  left: 22px;
  width: 333px;
  height: 24px;
  text-align: left;
}
.frame-parent11,
.rectangle-parent121 {
  position: absolute;
  top: 250px;
  left: 0;
  width: 376px;
  height: 453px;
  font-size: var(--font-size-mini);
  font-family: var(--font-nunito);
}
.frame-parent11 {
  top: 124px;
  left: 392px;
  width: 890px;
  height: 703px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--white);
  font-family: var(--font-roboto);
}
.working-shift-8 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
