.image-icon7,
.side-bar-child4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 383px;
  height: 1024px;
}
.image-icon7 {
  top: 16px;
  left: 79px;
  width: 174px;
  height: 153px;
  object-fit: cover;
}
.user-info-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 277px;
  height: 94px;
}
.mask-group-icon14 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.quang-bang14,
.quangbang6817 {
  position: absolute;
  top: 0;
  left: 58px;
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quangbang6817 {
  top: 21px;
  font-size: var(--font-size-sm);
}
.mask-group-parent5,
.user-info7 {
  position: absolute;
  top: 24px;
  left: 29px;
  width: 233px;
  height: 45px;
}
.user-info7 {
  top: 169px;
  width: 277px;
  height: 94px;
}
.ca-lm-vic7 {
  position: absolute;
  top: 17px;
  left: 97px;
  letter-spacing: 0.01em;
}
.employee7,
.work-icon7 {
  position: absolute;
  top: 14px;
  left: 48px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.employee7 {
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.shift-child5 {
  position: absolute;
  top: 7px;
  left: 27px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mintcream);
  width: 277px;
  height: 54px;
}
.phng-tin7 {
  position: absolute;
  top: 21px;
  left: 95px;
  letter-spacing: 0.01em;
}
.shift7,
.vector-icon16 {
  position: absolute;
  overflow: hidden;
}
.vector-icon16 {
  height: 29.37%;
  width: 9.09%;
  top: 38.46%;
  right: 75.76%;
  bottom: 32.17%;
  left: 15.15%;
  max-width: 100%;
  max-height: 100%;
}
.shift7 {
  top: 140px;
  left: 1px;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  color: var(--color-mediumseagreen-100);
}
.nhn-vin9 {
  position: absolute;
  top: 17px;
  left: 96px;
  letter-spacing: 0.01em;
}
.account-box-icon7 {
  position: absolute;
  top: 13px;
  left: 48px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.vehicle7 {
  top: 70px;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.mcp7,
.vector-icon17,
.vehicle7 {
  position: absolute;
  overflow: hidden;
}
.vector-icon17 {
  height: 42.75%;
  width: 7.27%;
  top: 24.62%;
  right: 77.27%;
  bottom: 32.63%;
  left: 15.45%;
  max-width: 100%;
  max-height: 100%;
}
.mcp7 {
  top: 210px;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.menu7,
.side-bar7 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 331px;
  height: 275px;
  font-size: var(--font-size-xl);
}
.side-bar7 {
  top: 0;
  width: 333px;
  height: 1024px;
  font-size: var(--font-size-lg);
}
.bell-icon7 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-500);
}
.mask-group-icon15 {
  position: relative;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  object-fit: cover;
}
.minotification-icon7 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
}
.quang-bang15 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-child4 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.avatar7,
.info7,
.notification7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.info7 {
  overflow: hidden;
  gap: var(--gap-9xs);
}
.avatar7,
.notification7 {
  height: 42px;
  gap: var(--gap-xs);
}
.notification7 {
  position: absolute;
  top: 0;
  left: 739px;
  width: 368px;
  height: 102px;
  padding: var(--padding-5xl) var(--padding-31xl) var(--padding-5xl) 0;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-11xl);
}
.tm-kim7 {
  position: relative;
  line-height: 24px;
}
.search-bar7 {
  position: absolute;
  top: 29px;
  left: 43px;
  border-radius: var(--br-9xs);
  background-color: var(--background-color);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 347px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: space-between;
}
.head7,
.phn-nhim-v3 {
  position: absolute;
  top: 0;
}
.head7 {
  left: 333px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 0.5px solid var(--white);
  box-sizing: border-box;
  width: 1107px;
  height: 102px;
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
.phn-nhim-v3 {
  height: 100%;
  width: 77.86%;
  left: 22.14%;
  letter-spacing: 0.01em;
  display: inline-block;
}
.arrow-left-icon2 {
  position: absolute;
  height: 73.17%;
  width: 11.45%;
  top: 14.63%;
  right: 88.55%;
  bottom: 12.2%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chn-phng-tin,
.chn-ti-x,
.phn-nhim-v-parent {
  position: absolute;
  height: 4.02%;
  font-size: var(--font-size-11xl);
}
.phn-nhim-v-parent {
  width: 18.19%;
  top: 18.85%;
  right: 56.53%;
  bottom: 77.14%;
  left: 25.28%;
}
.chn-phng-tin,
.chn-ti-x {
  width: 17.5%;
  top: 31.93%;
  left: 27.22%;
  letter-spacing: 0.01em;
  display: inline-block;
}
.chn-ti-x {
  width: 11.25%;
  left: 59.79%;
}
.group-child24 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.full-name21 {
  position: absolute;
  height: 33.33%;
  width: 47.21%;
  top: 33.33%;
  left: 8.2%;
  font-weight: 300;
  display: inline-block;
}
.caret-down-fill-icon19 {
  position: absolute;
  top: 17.7px;
  left: 262px;
  width: 20px;
  height: 20px;
}
.rectangle-parent72,
.rectangle-parent73 {
  position: absolute;
  height: 5.58%;
  width: 21.18%;
  top: 38.77%;
  right: 51.46%;
  bottom: 55.65%;
  left: 27.36%;
}
.rectangle-parent73 {
  top: 39.06%;
  right: 19.03%;
  bottom: 55.35%;
  left: 59.79%;
  color: var(--color-gray);
}
.frame-child50 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 365px;
  height: 348px;
}
.mask-group {
  position: absolute;
  top: 25px;
  left: 63px;
  width: 239px;
  height: 158px;
}
.tn2 {
  font-weight: 700;
}
.ca-60-999912,
.kh-nng-chu-container,
.mc-tiu-hao,
.th-tch-hng-container {
  position: absolute;
  top: 24px;
  left: 0;
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ca-60-999912,
.mc-tiu-hao,
.th-tch-hng-container {
  top: 72px;
}
.ca-60-999912,
.th-tch-hng-container {
  top: 48px;
}
.ca-60-999912 {
  top: 0;
  font-size: var(--font-size-lg);
}
.kh-nng-chu-ti-955-tn-parent {
  position: absolute;
  top: 216px;
  left: 63px;
  width: 195px;
  height: 96px;
}
.rectangle-parent74 {
  position: absolute;
  top: 525px;
  left: 394px;
  width: 365px;
  height: 357px;
  font-size: var(--font-size-sm);
}
.working-shift-31-child {
  position: absolute;
  top: 525px;
  left: 861px;
  border-radius: var(--br-3xs);
  width: 365px;
  height: 165px;
}
.ava-icon {
  position: absolute;
  top: 550.24px;
  left: 891.62px;
  width: 107.14px;
  height: 107.14px;
  object-fit: cover;
}
.i {
  font-weight: 600;
}
.id-00001,
.nguyn-vn-a14 {
  position: absolute;
  top: 605px;
  left: 1021px;
  font-size: var(--font-size-sm);
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nguyn-vn-a14 {
  top: 580px;
  font-size: var(--font-size-lg);
}
.button-child10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 0.5px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.hon-tt {
  position: absolute;
  width: 67.69%;
  top: 24.07%;
  left: 19.23%;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}
.button12 {
  position: absolute;
  height: 5.27%;
  width: 9.03%;
  top: 84.28%;
  right: 7.36%;
  bottom: 10.45%;
  left: 83.61%;
  font-size: var(--font-size-xl);
  color: var(--color-mediumseagreen-100);
}
.working-shift-31 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
