.image-icon8,
.side-bar-child5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 383px;
  height: 1024px;
}
.image-icon8 {
  top: 16px;
  left: 79px;
  width: 174px;
  height: 153px;
  object-fit: cover;
}
.user-info-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 277px;
  height: 94px;
}
.mask-group-icon16 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.quang-bang16,
.quangbang6818 {
  position: absolute;
  top: 0;
  left: 58px;
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quangbang6818 {
  top: 21px;
  font-size: var(--font-size-sm);
}
.mask-group-parent6,
.user-info8 {
  position: absolute;
  top: 24px;
  left: 29px;
  width: 233px;
  height: 45px;
}
.user-info8 {
  top: 169px;
  width: 277px;
  height: 94px;
}
.ca-lm-vic8 {
  position: absolute;
  top: 17px;
  left: 97px;
  letter-spacing: 0.01em;
}
.employee8,
.work-icon8 {
  position: absolute;
  top: 14px;
  left: 48px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.employee8 {
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.shift-child6 {
  position: absolute;
  top: 7px;
  left: 27px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mintcream);
  width: 277px;
  height: 54px;
}
.phng-tin8 {
  position: absolute;
  top: 21px;
  left: 95px;
  letter-spacing: 0.01em;
}
.shift8,
.vector-icon18 {
  position: absolute;
  overflow: hidden;
}
.vector-icon18 {
  height: 29.37%;
  width: 9.09%;
  top: 38.46%;
  right: 75.76%;
  bottom: 32.17%;
  left: 15.15%;
  max-width: 100%;
  max-height: 100%;
}
.shift8 {
  top: 140px;
  left: 1px;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  color: var(--color-mediumseagreen-100);
}
.nhn-vin10 {
  position: absolute;
  top: 17px;
  left: 96px;
  letter-spacing: 0.01em;
}
.account-box-icon8 {
  position: absolute;
  top: 13px;
  left: 48px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.vehicle8 {
  top: 70px;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.mcp8,
.vector-icon19,
.vehicle8 {
  position: absolute;
  overflow: hidden;
}
.vector-icon19 {
  height: 42.75%;
  width: 7.27%;
  top: 24.62%;
  right: 77.27%;
  bottom: 32.63%;
  left: 15.45%;
  max-width: 100%;
  max-height: 100%;
}
.mcp8 {
  top: 210px;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.menu8,
.side-bar8 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 331px;
  height: 275px;
  font-size: var(--font-size-xl);
}
.side-bar8 {
  top: 0;
  width: 333px;
  height: 1024px;
  font-size: var(--font-size-lg);
}
.bell-icon8 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-500);
}
.mask-group-icon17 {
  position: relative;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  object-fit: cover;
}
.minotification-icon8 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
}
.quang-bang17 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-child5 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.avatar8,
.info8,
.notification8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.info8 {
  overflow: hidden;
  gap: var(--gap-9xs);
}
.avatar8,
.notification8 {
  height: 42px;
  gap: var(--gap-xs);
}
.notification8 {
  position: absolute;
  top: 0;
  left: 739px;
  width: 368px;
  height: 102px;
  padding: var(--padding-5xl) var(--padding-31xl) var(--padding-5xl) 0;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-11xl);
}
.tm-kim8 {
  position: relative;
  line-height: 24px;
}
.search-bar8 {
  position: absolute;
  top: 29px;
  left: 43px;
  border-radius: var(--br-9xs);
  background-color: var(--background-color);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 347px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: space-between;
}
.head8,
.phn-nhim-v4 {
  position: absolute;
  top: 0;
}
.head8 {
  left: 333px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 0.5px solid var(--white);
  box-sizing: border-box;
  width: 1107px;
  height: 102px;
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
.phn-nhim-v4 {
  height: 100%;
  width: 77.86%;
  left: 22.14%;
  letter-spacing: 0.01em;
  display: inline-block;
}
.arrow-left-icon3 {
  position: absolute;
  height: 73.17%;
  width: 11.45%;
  top: 14.63%;
  right: 88.55%;
  bottom: 12.2%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chn-phng-tin1,
.chn-ti-x1,
.phn-nhim-v-group {
  position: absolute;
  height: 4.02%;
  font-size: var(--font-size-11xl);
}
.phn-nhim-v-group {
  width: 18.19%;
  top: 18.85%;
  right: 56.53%;
  bottom: 77.14%;
  left: 25.28%;
  cursor: pointer;
}
.chn-phng-tin1,
.chn-ti-x1 {
  width: 17.5%;
  top: 31.93%;
  left: 27.22%;
  letter-spacing: 0.01em;
  display: inline-block;
}
.chn-ti-x1 {
  width: 11.25%;
  left: 59.79%;
}
.group-child26 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.full-name23 {
  position: absolute;
  height: 33.33%;
  width: 47.21%;
  top: 33.33%;
  left: 8.2%;
  font-weight: 300;
  display: inline-block;
}
.caret-down-fill-icon21 {
  position: absolute;
  top: 17.7px;
  left: 262px;
  width: 20px;
  height: 20px;
}
.rectangle-parent75,
.rectangle-parent76 {
  position: absolute;
  height: 5.58%;
  width: 21.18%;
  top: 38.77%;
  right: 51.46%;
  bottom: 55.65%;
  left: 27.36%;
}
.rectangle-parent76 {
  top: 39.06%;
  right: 19.03%;
  bottom: 55.35%;
  left: 59.79%;
  color: var(--color-gray);
}
.frame-child51 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 365px;
  height: 348px;
}
.mask-group1 {
  position: absolute;
  top: 25px;
  left: 63px;
  width: 239px;
  height: 158px;
}
.tn3 {
  font-weight: 700;
}
.ca-60-999913,
.kh-nng-chu-container1,
.mc-tiu-hao1,
.th-tch-hng-container1 {
  position: absolute;
  top: 24px;
  left: 0;
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ca-60-999913,
.mc-tiu-hao1,
.th-tch-hng-container1 {
  top: 72px;
}
.ca-60-999913,
.th-tch-hng-container1 {
  top: 48px;
}
.ca-60-999913 {
  top: 0;
  font-size: var(--font-size-lg);
}
.kh-nng-chu-ti-955-tn-group {
  position: absolute;
  top: 216px;
  left: 63px;
  width: 195px;
  height: 96px;
}
.rectangle-parent77 {
  position: absolute;
  top: 525px;
  left: 394px;
  width: 365px;
  height: 357px;
  font-size: var(--font-size-sm);
}
.frame-child52,
.frame-child53 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
}
.frame-child52 {
  height: 94.2%;
  width: 100%;
  right: 0;
  bottom: 5.8%;
  background-color: var(--white);
  box-shadow: 0 3px 7px rgba(199, 195, 195, 0.25);
  border: 0.5px solid var(--color-gray-400);
  box-sizing: border-box;
}
.frame-child53 {
  background-color: var(--color-whitesmoke-100);
  width: 365px;
  height: 82px;
}
.mask-group-icon18 {
  position: absolute;
  top: 9px;
  left: 25px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.loi-bng-li {
  position: absolute;
  top: 40px;
  left: 101px;
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mask-group-parent7,
.rectangle-parent79 {
  position: absolute;
  left: 21px;
  width: 365px;
  height: 82px;
}
.rectangle-parent79 {
  top: 12px;
  cursor: pointer;
}
.mask-group-parent7 {
  top: 100px;
}
.nguyn-vn-b {
  position: absolute;
  top: 15px;
  left: 101px;
  font-size: var(--font-size-lg);
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mask-group-parent8,
.mask-group-parent9 {
  position: absolute;
  top: 182px;
  left: 21px;
  width: 365px;
  height: 82px;
}
.mask-group-parent9 {
  top: 264px;
}
.rectangle-parent78 {
  position: absolute;
  top: 457px;
  left: 861px;
  width: 405px;
  height: 379px;
  font-size: var(--font-size-sm);
}
.button-child11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 0.5px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.hon-tt1 {
  position: absolute;
  width: 67.69%;
  top: 24.07%;
  left: 19.23%;
  font-weight: 500;
  display: inline-block;
}
.button13 {
  position: absolute;
  height: 5.27%;
  width: 9.03%;
  top: 84.28%;
  right: 7.36%;
  bottom: 10.45%;
  left: 83.61%;
  font-size: var(--font-size-xl);
  color: var(--color-mediumseagreen-100);
}
.working-shift-30 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
