.image-icon10,
.side-bar-child7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 383px;
  height: 1024px;
}
.image-icon10 {
  top: 16px;
  left: 79px;
  width: 174px;
  height: 153px;
  object-fit: cover;
}
.user-info-child8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 277px;
  height: 94px;
}
.mask-group-icon24 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.quang-bang20,
.quangbang68110 {
  position: absolute;
  top: 0;
  left: 58px;
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quangbang68110 {
  top: 21px;
  font-size: var(--font-size-sm);
}
.mask-group-parent11,
.user-info10 {
  position: absolute;
  top: 24px;
  left: 29px;
  width: 233px;
  height: 45px;
}
.user-info10 {
  top: 169px;
  width: 277px;
  height: 94px;
}
.ca-lm-vic10 {
  position: absolute;
  top: 17px;
  left: 97px;
  letter-spacing: 0.01em;
}
.employee10,
.work-icon10 {
  position: absolute;
  top: 14px;
  left: 48px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.employee10 {
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.shift-child8 {
  position: absolute;
  top: 7px;
  left: 27px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mintcream);
  width: 277px;
  height: 54px;
}
.phng-tin10 {
  position: absolute;
  top: 21px;
  left: 95px;
  letter-spacing: 0.01em;
}
.shift10,
.vector-icon22 {
  position: absolute;
  overflow: hidden;
}
.vector-icon22 {
  height: 29.37%;
  width: 9.09%;
  top: 38.46%;
  right: 75.76%;
  bottom: 32.17%;
  left: 15.15%;
  max-width: 100%;
  max-height: 100%;
}
.shift10 {
  top: 140px;
  left: 1px;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  color: var(--color-mediumseagreen-100);
}
.nhn-vin12 {
  position: absolute;
  top: 17px;
  left: 96px;
  letter-spacing: 0.01em;
}
.account-box-icon10 {
  position: absolute;
  top: 13px;
  left: 48px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.vehicle10 {
  top: 70px;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.mcp10,
.vector-icon23,
.vehicle10 {
  position: absolute;
  overflow: hidden;
}
.vector-icon23 {
  height: 42.75%;
  width: 7.27%;
  top: 24.62%;
  right: 77.27%;
  bottom: 32.63%;
  left: 15.45%;
  max-width: 100%;
  max-height: 100%;
}
.mcp10 {
  top: 210px;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.menu10,
.side-bar10 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 331px;
  height: 275px;
  font-size: var(--font-size-xl);
}
.side-bar10 {
  top: 0;
  width: 333px;
  height: 1024px;
  font-size: var(--font-size-lg);
}
.bell-icon10 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-500);
}
.mask-group-icon25 {
  position: relative;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  object-fit: cover;
}
.minotification-icon10 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
}
.quang-bang21 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-child7 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.avatar10,
.info10,
.notification10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.info10 {
  overflow: hidden;
  gap: var(--gap-9xs);
}
.avatar10,
.notification10 {
  height: 42px;
  gap: var(--gap-xs);
}
.notification10 {
  position: absolute;
  top: 0;
  left: 739px;
  width: 368px;
  height: 102px;
  padding: var(--padding-5xl) var(--padding-31xl) var(--padding-5xl) 0;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-11xl);
}
.tm-kim10 {
  position: relative;
  line-height: 24px;
}
.search-bar10 {
  position: absolute;
  top: 29px;
  left: 43px;
  border-radius: var(--br-9xs);
  background-color: var(--background-color);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 347px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: space-between;
}
.head10,
.phn-nhim-v6 {
  position: absolute;
  top: 0;
}
.head10 {
  left: 333px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 0.5px solid var(--white);
  box-sizing: border-box;
  width: 1107px;
  height: 102px;
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
.phn-nhim-v6 {
  height: 100%;
  width: 77.86%;
  left: 22.14%;
  letter-spacing: 0.01em;
  display: inline-block;
}
.arrow-left-icon5 {
  position: absolute;
  height: 73.17%;
  width: 11.45%;
  top: 14.63%;
  right: 88.55%;
  bottom: 12.2%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chn-phng-tin3,
.chn-ti-x3,
.phn-nhim-v-parent1 {
  position: absolute;
  height: 4.02%;
  font-size: var(--font-size-11xl);
}
.phn-nhim-v-parent1 {
  width: 18.19%;
  top: 18.85%;
  right: 56.53%;
  bottom: 77.14%;
  left: 25.28%;
  cursor: pointer;
}
.chn-phng-tin3,
.chn-ti-x3 {
  width: 17.5%;
  top: 31.93%;
  left: 27.22%;
  letter-spacing: 0.01em;
  display: inline-block;
}
.chn-ti-x3 {
  width: 11.25%;
  left: 59.79%;
}
.group-child30 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.full-name27 {
  position: absolute;
  height: 33.33%;
  width: 47.21%;
  top: 33.33%;
  left: 8.2%;
  font-weight: 300;
  display: inline-block;
}
.caret-down-fill-icon25 {
  position: absolute;
  top: 17.7px;
  left: 262px;
  width: 20px;
  height: 20px;
}
.rectangle-parent83,
.rectangle-parent84 {
  position: absolute;
  height: 5.58%;
  width: 21.18%;
  top: 38.77%;
  right: 51.46%;
  bottom: 55.65%;
  left: 27.36%;
  color: var(--color-gray);
}
.rectangle-parent84 {
  top: 39.06%;
  right: 19.03%;
  bottom: 55.35%;
  left: 59.79%;
}
.frame-child55,
.frame-child56 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
}
.frame-child55 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  box-shadow: 0 3px 7px rgba(199, 195, 195, 0.25);
  border: 0.5px solid var(--color-gray-400);
  box-sizing: border-box;
}
.frame-child56 {
  background-color: var(--color-whitesmoke-100);
  width: 365px;
  height: 114px;
}
.mask-group3 {
  position: absolute;
  top: 27px;
  left: 26px;
  width: 61px;
  height: 42px;
}
.tn5 {
  font-weight: 700;
}
.ca-60-999915,
.kh-nng-chu-container3,
.mc-tiu-hao3,
.th-tch-hng-container3 {
  position: absolute;
  top: 33px;
  left: 100px;
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ca-60-999915,
.mc-tiu-hao3,
.th-tch-hng-container3 {
  top: 81px;
}
.ca-60-999915,
.th-tch-hng-container3 {
  top: 57px;
}
.ca-60-999915 {
  top: 9px;
  font-size: var(--font-size-lg);
}
.rectangle-parent86 {
  position: absolute;
  top: 12px;
  left: 21px;
  width: 365px;
  height: 114px;
  cursor: pointer;
}
.kh-nng-chu-ti-955-tn-parent1,
.mask-group-parent12 {
  position: absolute;
  top: 134px;
  left: 21px;
  width: 365px;
  height: 114px;
}
.kh-nng-chu-ti-955-tn-parent1 {
  top: 256px;
}
.rectangle-parent85 {
  position: absolute;
  top: 457px;
  left: 379px;
  width: 405px;
  height: 379px;
  font-size: var(--font-size-sm);
}
.button-child13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 0.5px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.hon-tt3 {
  position: absolute;
  width: 67.69%;
  top: 24.07%;
  left: 19.23%;
  font-weight: 500;
  display: inline-block;
}
.button15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.button-wrapper8 {
  position: absolute;
  top: 863px;
  left: 1204px;
  width: 130px;
  height: 54px;
  font-size: var(--font-size-xl);
  color: var(--color-mediumseagreen-100);
}
.working-shift-28 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
