.image-icon18,
.side-bar-child15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 383px;
  height: 1024px;
}
.image-icon18 {
  top: 16px;
  left: 79px;
  width: 174px;
  height: 153px;
  object-fit: cover;
}
.user-info-child16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 277px;
  height: 94px;
}
.mask-group-icon40 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.quang-bang36,
.quangbang68118 {
  position: absolute;
  top: 0;
  left: 58px;
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quangbang68118 {
  top: 21px;
  font-size: var(--font-size-sm);
}
.mask-group-parent20,
.user-info18 {
  position: absolute;
  top: 24px;
  left: 29px;
  width: 233px;
  height: 45px;
}
.user-info18 {
  top: 169px;
  width: 277px;
  height: 94px;
}
.ca-lm-vic18 {
  position: absolute;
  top: 17px;
  left: 97px;
  letter-spacing: 0.01em;
}
.employee18,
.work-icon18 {
  position: absolute;
  top: 14px;
  left: 48px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.employee18 {
  top: 0;
  left: 1px;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.shift-child16 {
  position: absolute;
  top: 7px;
  left: 27px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mintcream);
  width: 277px;
  height: 54px;
}
.nhn-vin23 {
  position: absolute;
  top: 21px;
  left: 95px;
  letter-spacing: 0.01em;
}
.account-box-icon18,
.shift18 {
  position: absolute;
  top: 19px;
  left: 48px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.shift18 {
  top: 70px;
  left: 1px;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  color: var(--color-mediumseagreen-100);
}
.phng-tin18 {
  position: absolute;
  top: 17px;
  left: 96px;
  letter-spacing: 0.01em;
}
.vector-icon38 {
  position: absolute;
  height: 29.37%;
  width: 9.09%;
  top: 30.77%;
  right: 75.76%;
  bottom: 39.86%;
  left: 15.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vehicle18 {
  top: 140px;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.mcp18,
.vector-icon39,
.vehicle18 {
  position: absolute;
  overflow: hidden;
}
.vector-icon39 {
  height: 42.75%;
  width: 7.27%;
  top: 24.62%;
  right: 77.27%;
  bottom: 32.63%;
  left: 15.45%;
  max-width: 100%;
  max-height: 100%;
}
.mcp18 {
  top: 210px;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.menu18,
.side-bar18 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 331px;
  height: 275px;
  font-size: var(--font-size-xl);
}
.side-bar18 {
  top: 0;
  width: 333px;
  height: 1024px;
  font-size: var(--font-size-lg);
}
.bell-icon18 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-500);
}
.mask-group-icon41 {
  position: relative;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  object-fit: cover;
}
.minotification-icon18 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
}
.quang-bang37 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-child15 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.avatar18,
.info18,
.notification18 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.info18 {
  overflow: hidden;
  gap: var(--gap-9xs);
}
.avatar18,
.notification18 {
  height: 42px;
  gap: var(--gap-xs);
}
.notification18 {
  position: absolute;
  top: 0;
  left: 739px;
  width: 368px;
  height: 102px;
  padding: var(--padding-5xl) var(--padding-31xl) var(--padding-5xl) 0;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-11xl);
}
.tm-kim18 {
  position: relative;
  line-height: 24px;
}
.search-bar18 {
  top: 29px;
  left: 43px;
  border-radius: var(--br-9xs);
  background-color: var(--background-color);
  border: 1px solid var(--color-gainsboro-200);
  width: 347px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: space-between;
}
.head18,
.search-bar18,
.working-shift-7-child {
  position: relative;
  box-sizing: border-box;
}
.head18 {
  top: 0;
  left: 333px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 0.5px solid var(--white);
  width: 1107px;
  height: 102px;
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
.working-shift-7-child {
  height: 83.11%;
  width: 67.08%;
  top: 8.4%;
  right: 6.67%;
  bottom: 8.5%;
  left: 26.25%;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 3px 7px rgba(199, 195, 195, 0.25);
  border: 0.5px solid var(--color-gray-400);
}
.nhn-vin24 {
  position: absolute;
  top: 0;
  left: 29.59%;
  letter-spacing: 0.01em;
}
.arrow-left-icon11 {
  position: absolute;
  height: 73.17%;
  width: 15.31%;
  top: 14.63%;
  right: 84.69%;
  bottom: 12.2%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.nhn-vin-parent3 {
  position: absolute;
  height: 4%;
  width: 13.61%;
  top: 18.36%;
  right: 57.36%;
  bottom: 77.64%;
  left: 29.03%;
  font-size: var(--font-size-11xl);
}
.button-child21 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumseagreen-100);
  border: 0.5px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.lu-li5 {
  position: absolute;
  width: 46.92%;
  top: 24.07%;
  left: 26.15%;
  font-weight: 500;
  display: inline-block;
}
.button23 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.button-child22,
.button-wrapper16 {
  position: absolute;
  top: 0;
  left: 152px;
  width: 130px;
  height: 54px;
}
.button-child22 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 0.5px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.quay-li5 {
  position: absolute;
  width: 59.23%;
  top: 24.07%;
  left: 23.08%;
  font-weight: 500;
  display: inline-block;
}
.button-wrapper17,
.frame-parent12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 54px;
  color: var(--color-mediumseagreen-100);
}
.frame-parent12 {
  top: 920px;
  left: 1039px;
  width: 282px;
  font-size: var(--font-size-xl);
  color: var(--white);
}
.shift-field-child53 {
  position: absolute;
  top: -23px;
  left: -45px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-whitesmoke-200);
  width: 924px;
  height: 73px;
}
.nhn-vin-id5,
.tn11,
.vai-tr5 {
  position: absolute;
  top: 4px;
  left: -21px;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
  width: 132px;
}
.tn11,
.vai-tr5 {
  top: 1px;
  left: 130px;
  width: 86px;
}
.vai-tr5 {
  left: 458px;
  width: 148px;
}
.shift-field-child54,
.shift-field-child55,
.shift-field-child56 {
  position: absolute;
  top: 3px;
  left: 437px;
  border-right: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
}
.shift-field-child55,
.shift-field-child56 {
  left: 645px;
}
.shift-field-child56 {
  left: 110px;
}
.shift-field12 {
  position: absolute;
  top: 271px;
  left: 428px;
  width: 776px;
  height: 28px;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
}
.div155,
.khc5,
.nguyn-vn-a23 {
  position: absolute;
  letter-spacing: 0.01em;
  display: inline-block;
}
.khc5 {
  top: 275px;
  left: 1206px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-gray);
  width: 106px;
}
.div155,
.nguyn-vn-a23 {
  top: 23px;
  left: 45px;
  width: 49px;
}
.nguyn-vn-a23 {
  left: 174px;
  width: 297px;
}
.group-child55 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.full-name59 {
  position: absolute;
  height: 33.33%;
  width: 69.19%;
  top: 26.19%;
  left: 9.73%;
  letter-spacing: 0.01em;
  display: inline-block;
}
.caret-down-fill-icon49 {
  position: absolute;
  top: 14px;
  left: 158.92px;
  width: 12.13px;
  height: 14.74px;
}
.rectangle-parent122 {
  position: absolute;
  height: 62.69%;
  width: 20%;
  top: 23.88%;
  right: 26.16%;
  bottom: 13.43%;
  left: 53.84%;
  font-size: var(--font-size-mini);
}
.more-vert-icon88,
.parent90 {
  position: absolute;
  top: 27px;
  left: 875px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent90 {
  top: 323px;
  left: 376px;
  border-top: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 925px;
  height: 67px;
}
.full-name60 {
  position: absolute;
  height: 33.33%;
  width: 70.27%;
  top: 26.19%;
  left: 9.73%;
  font-weight: 300;
  display: inline-block;
}
.rectangle-parent123 {
  position: absolute;
  height: 62.69%;
  width: 20%;
  top: 23.88%;
  right: 26.16%;
  bottom: 13.43%;
  left: 53.84%;
  color: var(--color-gray);
}
.parent91 {
  position: absolute;
  top: 389px;
  left: 376px;
  border-top: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 925px;
  height: 67px;
  overflow: hidden;
}
.full-name61 {
  position: absolute;
  height: 33.33%;
  width: 68.11%;
  top: 26.19%;
  left: 9.73%;
  font-weight: 300;
  display: inline-block;
}
.parent92 {
  position: absolute;
  top: 458px;
  left: 376px;
  border-top: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 925px;
  height: 67px;
  overflow: hidden;
}
.full-name62 {
  position: absolute;
  height: 33.33%;
  width: 69.19%;
  top: 26.19%;
  left: 9.73%;
  font-weight: 300;
  display: inline-block;
}
.more-vert-icon91,
.parent93 {
  position: absolute;
  top: 22px;
  left: 875px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent93 {
  top: 527px;
  left: 376px;
  border-top: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 925px;
  height: 67px;
}
.more-vert-icon92,
.parent94,
.parent95 {
  position: absolute;
  top: 19px;
  left: 875px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent94,
.parent95 {
  top: 594px;
  left: 376px;
  border-top: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 925px;
  height: 67px;
}
.parent95 {
  top: 661px;
}
.working-shift-7-item {
  position: absolute;
  top: 502px;
  left: 1314px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-100);
  width: 7px;
  height: 157px;
}
.frame-child70,
.frame-child71 {
  position: absolute;
  left: 3px;
  width: 180px;
}
.frame-child70 {
  top: 0;
  border-radius: var(--br-10xs);
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  height: 118px;
}
.frame-child71 {
  top: 3px;
  background-color: var(--color-mintcream);
  height: 37px;
  overflow: hidden;
}
.collector,
.janitor,
.officer {
  position: absolute;
  left: 23px;
  letter-spacing: 0.01em;
}
.collector {
  top: 49px;
  cursor: pointer;
}
.janitor,
.officer {
  top: 12px;
}
.officer {
  top: 85px;
  cursor: pointer;
}
.frame-child72,
.frame-child73 {
  position: absolute;
  top: 0;
  left: 174px;
  width: 9px;
}
.frame-child72 {
  background-color: #f3f3f3;
  height: 118px;
}
.frame-child73 {
  background-color: var(--color-gainsboro-100);
  height: 76px;
}
.rectangle-parent128 {
  position: absolute;
  top: 379px;
  left: 874px;
  width: 186px;
  height: 118px;
  font-size: var(--font-size-mini);
}
.working-shift-7 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
