.image-icon16,
.side-bar-child13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 383px;
  height: 1024px;
}
.image-icon16 {
  top: 16px;
  left: 79px;
  width: 174px;
  height: 153px;
  object-fit: cover;
}
.user-info-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 277px;
  height: 94px;
}
.mask-group-icon36 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.quang-bang32,
.quangbang68116 {
  position: absolute;
  top: 0;
  left: 58px;
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quangbang68116 {
  top: 21px;
  font-size: var(--font-size-sm);
}
.mask-group-parent18,
.user-info16 {
  position: absolute;
  top: 24px;
  left: 29px;
  width: 233px;
  height: 45px;
}
.user-info16 {
  top: 169px;
  width: 277px;
  height: 94px;
}
.ca-lm-vic16 {
  position: absolute;
  top: 17px;
  left: 97px;
  letter-spacing: 0.01em;
}
.employee16,
.work-icon16 {
  position: absolute;
  top: 14px;
  left: 48px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.employee16 {
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.shift-child14 {
  position: absolute;
  top: 7px;
  left: 27px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mintcream);
  width: 277px;
  height: 54px;
}
.phng-tin16 {
  position: absolute;
  top: 21px;
  left: 95px;
  letter-spacing: 0.01em;
}
.shift16,
.vector-icon34 {
  position: absolute;
  overflow: hidden;
}
.vector-icon34 {
  height: 29.37%;
  width: 9.09%;
  top: 38.46%;
  right: 75.76%;
  bottom: 32.17%;
  left: 15.15%;
  max-width: 100%;
  max-height: 100%;
}
.shift16 {
  top: 140px;
  left: 1px;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  color: var(--color-mediumseagreen-100);
}
.nhn-vin21 {
  position: absolute;
  top: 17px;
  left: 96px;
  letter-spacing: 0.01em;
}
.account-box-icon16 {
  top: 13px;
  left: 48px;
  width: 30px;
  height: 30px;
}
.account-box-icon16,
.vector-icon35,
.vehicle16 {
  position: absolute;
  overflow: hidden;
}
.vehicle16 {
  top: 70px;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.vector-icon35 {
  height: 42.75%;
  width: 7.27%;
  top: 24.62%;
  right: 77.27%;
  bottom: 32.63%;
  left: 15.45%;
  max-width: 100%;
  max-height: 100%;
}
.mcp16 {
  top: 210px;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  overflow: hidden;
  cursor: pointer;
}
.mcp16,
.menu16,
.side-bar16 {
  position: absolute;
  left: 0;
}
.menu16 {
  top: 299px;
  width: 331px;
  height: 275px;
  font-size: var(--font-size-xl);
}
.side-bar16 {
  top: 0;
  width: 333px;
  height: 1024px;
}
.bell-icon16 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-500);
}
.mask-group-icon37 {
  position: relative;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  object-fit: cover;
}
.minotification-icon16 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
}
.quang-bang33 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-child13 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.avatar16,
.info16,
.notification16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.info16 {
  overflow: hidden;
  gap: var(--gap-9xs);
}
.avatar16,
.notification16 {
  height: 42px;
  gap: var(--gap-xs);
}
.notification16 {
  position: absolute;
  top: 0;
  left: 739px;
  width: 368px;
  height: 102px;
  padding: var(--padding-5xl) var(--padding-31xl) var(--padding-5xl) 0;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-11xl);
}
.tm-kim16 {
  position: relative;
  line-height: 24px;
}
.search-bar16 {
  position: absolute;
  top: 29px;
  left: 43px;
  border-radius: var(--br-9xs);
  background-color: var(--background-color);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 347px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: space-between;
}
.add-shift-child3,
.head16 {
  position: absolute;
  top: 0;
  box-sizing: border-box;
}
.head16 {
  left: 333px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 0.5px solid var(--white);
  width: 1107px;
  height: 102px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
.add-shift-child3 {
  height: 100%;
  width: 118.01%;
  right: -18.01%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 0.5px solid var(--color-mediumseagreen-200);
}
.phn-nhim-v8 {
  position: absolute;
  width: 77.02%;
  top: 21.43%;
  left: 30.43%;
  font-weight: 500;
  display: inline-block;
}
.add-task-icon5 {
  position: absolute;
  height: 47.62%;
  width: 12.42%;
  top: 26.19%;
  right: 75.16%;
  bottom: 26.19%;
  left: 12.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.add-shift5 {
  position: absolute;
  top: 0;
  left: 305px;
  width: 161px;
  height: 42px;
  cursor: pointer;
  color: var(--color-mediumseagreen-100);
}
.danh-sch-nhim3 {
  position: absolute;
  height: 4.72%;
  width: 29.23%;
  top: 0;
  left: 0;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.shift-field-child48 {
  position: absolute;
  top: -23px;
  left: -22px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-whitesmoke-200);
  width: 982px;
  height: 73px;
}
.id-nhim-v4,
.m-phng-tin4,
.ti-x3,
.trng-thi5 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
  width: 111px;
}
.m-phng-tin4,
.ti-x3,
.trng-thi5 {
  top: 1px;
  left: 150px;
  width: 97px;
}
.m-phng-tin4,
.ti-x3 {
  left: 280px;
  width: 148px;
}
.ti-x3 {
  left: 480px;
  width: 61px;
}
.shift-field-child49,
.shift-field-child50,
.shift-field-child51,
.shift-field-child52 {
  position: absolute;
  top: 3px;
  left: 260px;
  border-right: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
}
.shift-field-child50,
.shift-field-child51,
.shift-field-child52 {
  left: 130px;
}
.shift-field-child51,
.shift-field-child52 {
  left: 440px;
}
.shift-field-child52 {
  left: 638px;
}
.m-l-trnh4 {
  position: absolute;
  top: 1px;
  left: 672px;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
  width: 114px;
}
.shift-field11 {
  position: absolute;
  top: 0;
  left: 22px;
  width: 776px;
  height: 28px;
}
.ca-60-999916,
.div144,
.nguyn-vn-a19,
.q68112 {
  position: absolute;
  top: 3px;
  left: 0;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 49px;
}
.ca-60-999916,
.nguyn-vn-a19,
.q68112 {
  left: 286px;
  width: 97px;
}
.nguyn-vn-a19,
.q68112 {
  top: 2px;
  left: 472px;
  width: 125px;
}
.q68112 {
  top: 3px;
  left: 682px;
  color: var(--color-mediumseagreen-100);
  width: 44px;
}
.frame-child59 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--white);
  border: 0.5px solid var(--color-limegreen-200);
  box-sizing: border-box;
}
.cha-bt-u16 {
  position: absolute;
  width: 91.82%;
  top: 7.41%;
  left: 8.18%;
  font-weight: 500;
  display: inline-block;
}
.rectangle-parent109 {
  position: absolute;
  top: 0;
  left: 146px;
  width: 113px;
  height: 27px;
  color: var(--color-limegreen-100);
}
.parent80 {
  position: absolute;
  top: 15px;
  left: 19px;
  width: 726px;
  height: 27px;
}
.delete-icon48,
.more-vert-icon78 {
  position: absolute;
  top: 17px;
  left: 952px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.more-vert-icon78 {
  top: 16px;
  left: 923px;
  cursor: pointer;
}
.task-button-child46 {
  position: absolute;
  height: 88.1%;
  width: 84.47%;
  top: 4.76%;
  right: 15.53%;
  bottom: 7.14%;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--white);
  border: 0.5px solid var(--color-mediumseagreen-200);
  box-sizing: border-box;
}
.chi-tit30 {
  position: absolute;
  width: 53.4%;
  top: 23.81%;
  left: 17.48%;
  font-weight: 500;
  display: inline-block;
}
.task-button48 {
  position: absolute;
  top: 8px;
  left: 808px;
  width: 103px;
  height: 42px;
  cursor: pointer;
  color: var(--color-mediumseagreen-100);
}
.frame-child60,
.group-parent48 {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.group-parent48 {
  border-top: 0.5px solid var(--color-lightgray);
  border-bottom: 0.5px solid var(--color-lightgray);
  width: 982px;
  height: 57px;
  overflow: hidden;
}
.frame-child60 {
  height: 100%;
  width: 101.69%;
  right: -1.69%;
  bottom: 0;
  border-radius: var(--br-6xl);
  background-color: var(--white);
  border: 0.5px solid var(--color-goldenrod-200);
}
.rectangle-parent110 {
  position: absolute;
  top: 0;
  left: 146px;
  width: 118px;
  height: 27px;
  color: var(--color-goldenrod-100);
}
.more-vert-icon79 {
  position: absolute;
  top: 16px;
  left: 923px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.task-button49 {
  position: absolute;
  top: 8px;
  left: 808px;
  width: 103px;
  height: 42px;
  color: var(--color-mediumseagreen-100);
}
.frame-child61,
.group-parent49 {
  position: absolute;
  left: 0;
  box-sizing: border-box;
}
.group-parent49 {
  top: 57px;
  border-bottom: 0.5px solid var(--color-lightgray);
  width: 982px;
  height: 57px;
  overflow: hidden;
}
.frame-child61 {
  height: 100%;
  width: 92.04%;
  top: 0;
  right: 7.96%;
  bottom: 0;
  border-radius: var(--br-6xl);
  background-color: var(--white);
  border: 0.5px solid var(--color-red-300);
}
.rectangle-parent111 {
  position: absolute;
  top: 0;
  left: 146px;
  width: 113px;
  height: 27px;
  color: var(--color-red-100);
}
.frame-child62,
.group-parent50 {
  position: absolute;
  left: 0;
  box-sizing: border-box;
}
.group-parent50 {
  top: 114px;
  border-bottom: 0.5px solid var(--color-lightgray);
  width: 982px;
  height: 57px;
  overflow: hidden;
}
.frame-child62 {
  height: 100%;
  width: 90.27%;
  top: 0;
  right: 9.73%;
  bottom: 0;
  border-radius: var(--br-6xl);
  background-color: var(--white);
  border: 0.5px solid var(--color-darkslategray-200);
}
.rectangle-parent112 {
  position: absolute;
  top: 0;
  left: 146px;
  width: 113px;
  height: 27px;
  color: var(--color-darkslategray-100);
}
.group-parent51 {
  position: absolute;
  top: 171px;
  left: 0;
  border-bottom: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 982px;
  height: 57px;
  overflow: hidden;
}
.st-12-4121219 {
  position: absolute;
  top: 3px;
  left: 286px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 132px;
}
.group-parent52 {
  position: absolute;
  top: 228px;
  left: 0;
  border-bottom: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 982px;
  height: 57px;
  overflow: hidden;
}
.st-12-4121220 {
  position: absolute;
  top: 3px;
  left: 286px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 127px;
}
.group-parent53 {
  position: absolute;
  top: 285px;
  left: 0;
  border-bottom: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 982px;
  height: 57px;
  overflow: hidden;
}
.div150,
.l-vn-b21,
.q20320,
.st-12-4121221 {
  position: absolute;
  top: 1px;
  left: 0;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 49px;
}
.l-vn-b21,
.q20320,
.st-12-4121221 {
  left: 286px;
  width: 157px;
}
.l-vn-b21,
.q20320 {
  top: 0;
  left: 472px;
  width: 125px;
}
.q20320 {
  top: 1px;
  left: 682px;
  color: var(--color-mediumseagreen-100);
  width: 44px;
}
.parent86 {
  position: absolute;
  top: 17px;
  left: 19px;
  width: 726px;
  height: 23px;
}
.rectangle-parent115 {
  position: absolute;
  top: 15px;
  left: 165px;
  width: 118px;
  height: 27px;
  color: var(--color-goldenrod-100);
}
.group-parent54 {
  position: absolute;
  top: 342px;
  left: 0;
  border-bottom: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 982px;
  height: 57px;
  overflow: hidden;
}
.st-12-4121222 {
  position: absolute;
  top: 3px;
  left: 286px;
  letter-spacing: 0.01em;
}
.group-parent55 {
  position: absolute;
  top: 399px;
  left: 0;
  border-bottom: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 982px;
  height: 57px;
  overflow: hidden;
}
.st-12-4121223 {
  position: absolute;
  top: 1px;
  left: 286px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 145px;
}
.rectangle-parent117 {
  position: absolute;
  top: 14px;
  left: 168px;
  width: 113px;
  height: 27px;
  color: var(--color-red-100);
}
.group-parent56 {
  position: absolute;
  top: 456px;
  left: 0;
  border-bottom: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 982px;
  height: 57px;
  overflow: hidden;
}
.st-12-4121224 {
  position: absolute;
  top: 3px;
  left: 286px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 134px;
}
.group-parent57 {
  position: absolute;
  top: 513px;
  left: 0;
  border-bottom: 0.5px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 982px;
  height: 57px;
  overflow: hidden;
}
.frame-parent10,
.shift-field-parent1 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 982px;
  height: 570px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.shift-field-parent1 {
  top: 132px;
  left: -6px;
  height: 620px;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
}
.of-1005,
.rows-per-page6 {
  position: absolute;
  top: 7px;
  left: 0;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 149px;
}
.of-1005 {
  left: 224px;
  width: 90px;
}
.group-child53 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 55px;
  height: 35px;
}
.div154 {
  position: absolute;
  top: 8px;
  left: 10px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 19px;
  height: 19px;
}
.caret-down-fill-icon48 {
  position: absolute;
  top: 10px;
  left: 32px;
  width: 16px;
  height: 16px;
}
.rectangle-parent119 {
  position: absolute;
  top: 0;
  left: 122px;
  width: 55px;
  height: 35px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
}
.arrow-back-ios-icon6,
.arrow-forward-ios-icon6 {
  position: absolute;
  top: 8px;
  left: 357px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.arrow-forward-ios-icon6 {
  left: 402px;
}
.pagination6 {
  position: absolute;
  top: 898px;
  left: 554px;
  width: 422px;
  height: 35px;
  font-size: var(--font-size-base);
}
.add-shift-parent3 {
  position: absolute;
  top: 169px;
  left: 376px;
  width: 982px;
  height: 933px;
}
.working-shift-9 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
