.image-icon1,
.side-bar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 383px;
  height: 1024px;
}
.image-icon1 {
  top: 16px;
  left: 79px;
  width: 174px;
  height: 153px;
  object-fit: cover;
}
.user-info-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 277px;
  height: 94px;
}
.mask-group-icon2 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.quang-bang2,
.quangbang6811 {
  position: absolute;
  top: 0;
  left: 58px;
  line-height: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quangbang6811 {
  top: 21px;
  font-size: var(--font-size-sm);
}
.mask-group-group,
.user-info1 {
  position: absolute;
  top: 24px;
  left: 29px;
  width: 233px;
  height: 45px;
}
.user-info1 {
  top: 169px;
  width: 277px;
  height: 94px;
}
.ca-lm-vic1 {
  position: absolute;
  top: 17px;
  left: 97px;
  letter-spacing: 0.01em;
}
.employee1,
.work-icon1 {
  position: absolute;
  top: 14px;
  left: 48px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.employee1 {
  top: 0;
  left: 1px;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.shift-item {
  position: absolute;
  top: 7px;
  left: 27px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mintcream);
  width: 277px;
  height: 54px;
}
.nhn-vin2 {
  position: absolute;
  top: 21px;
  left: 95px;
  letter-spacing: 0.01em;
}
.account-box-icon1,
.shift1 {
  position: absolute;
  top: 19px;
  left: 48px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.shift1 {
  top: 70px;
  left: 1px;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  color: var(--color-mediumseagreen-100);
}
.phng-tin1 {
  position: absolute;
  top: 17px;
  left: 96px;
  letter-spacing: 0.01em;
}
.vector-icon2 {
  position: absolute;
  height: 29.37%;
  width: 9.09%;
  top: 30.77%;
  right: 75.76%;
  bottom: 39.86%;
  left: 15.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vehicle1 {
  top: 140px;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.mcp1,
.vector-icon3,
.vehicle1 {
  position: absolute;
  overflow: hidden;
}
.vector-icon3 {
  height: 42.75%;
  width: 7.27%;
  top: 24.62%;
  right: 77.27%;
  bottom: 32.63%;
  left: 15.45%;
  max-width: 100%;
  max-height: 100%;
}
.mcp1 {
  top: 210px;
  left: 0;
  background-color: var(--white);
  width: 330px;
  height: 65px;
  cursor: pointer;
}
.menu1,
.side-bar1 {
  position: absolute;
  top: 299px;
  left: 0;
  width: 331px;
  height: 275px;
  font-size: var(--font-size-xl);
}
.side-bar1 {
  top: 0;
  width: 333px;
  height: 1024px;
  font-size: var(--font-size-lg);
}
.bell-icon1 {
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke-500);
}
.mask-group-icon3 {
  position: relative;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  object-fit: cover;
}
.minotification-icon1 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  overflow: hidden;
}
.quang-bang3 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #161e54;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info-item {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.avatar1,
.info1,
.notification1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.info1 {
  overflow: hidden;
  gap: var(--gap-9xs);
}
.avatar1,
.notification1 {
  height: 42px;
  gap: var(--gap-xs);
}
.notification1 {
  position: absolute;
  top: 0;
  left: 739px;
  width: 368px;
  height: 102px;
  padding: var(--padding-5xl) var(--padding-31xl) var(--padding-5xl) 0;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-11xl);
}
.tm-kim1 {
  position: relative;
  line-height: 24px;
}
.search-bar1 {
  top: 29px;
  left: 43px;
  border-radius: var(--br-9xs);
  background-color: var(--background-color);
  border: 1px solid var(--color-gainsboro-200);
  width: 347px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: space-between;
}
.head1,
.search-bar1,
.working-shift-37-child {
  position: relative;
  box-sizing: border-box;
}
.head1 {
  top: 0;
  left: 333px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 0.5px solid var(--white);
  width: 1107px;
  height: 102px;
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
.working-shift-37-child {
  height: 83.11%;
  width: 67.08%;
  top: 8.4%;
  right: 6.67%;
  bottom: 8.5%;
  left: 26.25%;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  box-shadow: 0 3px 7px rgba(199, 195, 195, 0.25);
  border: 0.5px solid var(--color-gray-400);
}
.nhn-vin3 {
  position: absolute;
  top: 0;
  left: 29.59%;
  letter-spacing: 0.01em;
}
.arrow-left-icon1 {
  position: absolute;
  height: 73.17%;
  width: 15.31%;
  top: 14.63%;
  right: 84.69%;
  bottom: 12.2%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.nhn-vin-group {
  position: absolute;
  height: 4%;
  width: 13.61%;
  top: 18.36%;
  right: 57.36%;
  bottom: 77.64%;
  left: 29.03%;
  font-size: var(--font-size-11xl);
}
.button-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumseagreen-100);
  border: 0.5px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.lu-li1 {
  position: absolute;
  width: 46.92%;
  top: 24.07%;
  left: 26.15%;
  font-weight: 500;
  display: inline-block;
}
.button2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.button-child1,
.button-frame {
  position: absolute;
  top: 0;
  left: 152px;
  width: 130px;
  height: 54px;
}
.button-child1 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--white);
  border: 0.5px solid var(--color-mediumseagreen-100);
  box-sizing: border-box;
}
.quay-li1 {
  position: absolute;
  width: 59.23%;
  top: 24.07%;
  left: 23.08%;
  font-weight: 500;
  display: inline-block;
}
.button-wrapper1,
.frame-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 54px;
  color: var(--color-mediumseagreen-100);
}
.frame-group {
  top: 920px;
  left: 1039px;
  width: 282px;
  font-size: var(--font-size-xl);
  color: var(--white);
}
.shift-field-child1 {
  position: absolute;
  top: -23px;
  left: -45px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background-color: var(--color-whitesmoke-200);
  width: 924px;
  height: 73px;
}
.nhn-vin-id1,
.tn1,
.vai-tr1 {
  position: absolute;
  top: 4px;
  left: -21px;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
  width: 132px;
}
.tn1,
.vai-tr1 {
  top: 1px;
  left: 130px;
  width: 86px;
}
.vai-tr1 {
  left: 458px;
  width: 148px;
}
.shift-field-child2,
.shift-field-child3,
.shift-field-child4 {
  position: absolute;
  top: 3px;
  left: 437px;
  border-right: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
}
.shift-field-child3,
.shift-field-child4 {
  left: 645px;
}
.shift-field-child4 {
  left: 110px;
}
.shift-field1 {
  position: absolute;
  top: 271px;
  left: 428px;
  width: 776px;
  height: 28px;
  font-size: var(--font-size-xl);
  color: var(--color-gray);
}
.div6,
.khc1,
.nguyn-vn-a1 {
  position: absolute;
  letter-spacing: 0.01em;
  display: inline-block;
}
.khc1 {
  top: 275px;
  left: 1206px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-gray);
  width: 106px;
}
.div6,
.nguyn-vn-a1 {
  top: 23px;
  left: 45px;
  width: 49px;
}
.nguyn-vn-a1 {
  left: 174px;
  width: 297px;
}
.group-child3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--white);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.full-name6 {
  position: absolute;
  height: 33.33%;
  width: 69.19%;
  top: 26.19%;
  left: 9.73%;
  letter-spacing: 0.01em;
  display: inline-block;
}
.caret-down-fill-icon6 {
  position: absolute;
  top: 14px;
  left: 158.92px;
  width: 12.13px;
  height: 14.74px;
}
.rectangle-parent3 {
  position: absolute;
  height: 62.69%;
  width: 20%;
  top: 23.88%;
  right: 26.16%;
  bottom: 13.43%;
  left: 53.84%;
  font-size: var(--font-size-mini);
}
.more-vert-icon6,
.parent3 {
  position: absolute;
  top: 27px;
  left: 875px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent3 {
  top: 323px;
  left: 376px;
  border-top: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 925px;
  height: 67px;
}
.full-name7 {
  position: absolute;
  height: 33.33%;
  width: 70.27%;
  top: 26.19%;
  left: 9.73%;
  font-weight: 300;
  display: inline-block;
}
.rectangle-parent4 {
  position: absolute;
  height: 62.69%;
  width: 20%;
  top: 23.88%;
  right: 26.16%;
  bottom: 13.43%;
  left: 53.84%;
  color: var(--color-gray);
}
.parent4 {
  position: absolute;
  top: 389px;
  left: 376px;
  border-top: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 925px;
  height: 67px;
  overflow: hidden;
}
.full-name8 {
  position: absolute;
  height: 33.33%;
  width: 68.11%;
  top: 26.19%;
  left: 9.73%;
  font-weight: 300;
  display: inline-block;
}
.parent5 {
  position: absolute;
  top: 458px;
  left: 376px;
  border-top: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 925px;
  height: 67px;
  overflow: hidden;
}
.full-name9 {
  position: absolute;
  height: 33.33%;
  width: 69.19%;
  top: 26.19%;
  left: 9.73%;
  font-weight: 300;
  display: inline-block;
}
.more-vert-icon9,
.parent6 {
  position: absolute;
  top: 22px;
  left: 875px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent6 {
  top: 527px;
  left: 376px;
  border-top: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 925px;
  height: 67px;
}
.more-vert-icon10,
.parent7,
.parent8 {
  position: absolute;
  top: 19px;
  left: 875px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.parent7,
.parent8 {
  top: 594px;
  left: 376px;
  border-top: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 925px;
  height: 67px;
}
.parent8 {
  top: 661px;
}
.successful-item,
.working-shift-37-item {
  position: absolute;
  top: 502px;
  left: 1314px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro-100);
  width: 7px;
  height: 157px;
}
.successful-item {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  width: 451px;
  height: 84px;
}
.check-circle-fill-icon1 {
  position: absolute;
  top: 27px;
  left: 33px;
  width: 30px;
  height: 30px;
}
.lu-thnh-cng1 {
  position: absolute;
  top: 28px;
  left: 89px;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 182px;
}
.successful1 {
  position: absolute;
  top: 86px;
  left: 887px;
  width: 451px;
  height: 84px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--white);
}
.working-shift-37 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
